.profile_user_information {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: larger;
}

.profile_user_information div {
  display: flex;
  flex-direction: row;
  gap: 10px;
  color: white;
  font-weight: bolder;
}

.profile_user_information div p {
  color: rgb(201, 201, 201);
  font-weight: 100;
}
