.backdrop {
  z-index: 2; /* this is to keep background elements to bleed into the backdrop layer*/
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #0000007a;
  display: flex;
  align-items: center;
  justify-content: center;
}
