.navbar {
  display: block;
  height: 100px;
  padding-right: 1rem;
  padding-left: 1rem;
}

.navbar a {
  font-weight: bold;
  transition: all 0.1s ease-in-out;
  /* transition: color 0.2s ease-in-out !important; */
}
.navbar a:hover {
  cursor: pointer;
  transform: scale(1.02);
  color: #66fcf1;
}
.navbar-links {
}

.navbar-links_left,
.navbar-links_right {
  width: fit-content;
  display: flex;
  gap: 30px;
  font-size: 40px;
  margin-top: 10px;
}

.navbar-links_left {
  float: left;
}
.navbar-links_right {
  float: right;
}

.navbar-links_left a,
.navbar-links_right a {
  text-transform: uppercase;
  color: white;
}
