.navbar {
  display: block;
  height: 100px;
  padding-right: 1rem;
  padding-left: 1rem;
  align-items: center;
}

.navbar a {
  font-weight: bold;
  transition: all 0.1s ease-in-out;
  /* transition: color 0.2s ease-in-out !important; */
}
.navbar a:hover {
  cursor: pointer;
  transform: scale(1.02);
  color: #45a29e;
}
.navbar-links {
}

.navbar-links_left,
.navbar-links_right {
  width: fit-content;
  display: flex;
  gap: 30px;
  font-size: 40px;
  margin-top: 10px;
}

.navbar-links_left {
  float: left;
}
.navbar-links_right {
  float: right;
}

.navbar-links_left a,
.navbar-links_right a {
  text-transform: uppercase;
  color: white;
}

.navbar_username {
  color: white;
}
.navbar_username:hover {
  cursor: default;
}

.navbar_avatar {
  transition: all 0.1s ease-in-out;
  border: 2px solid rgb(235, 233, 233);
}
.navbar_avatar:hover {
  cursor: pointer;
  transform: scale(1.05);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.9);
  -moz-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.9);
}

.navbar_user_links_container {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 30px;
}
