.my_profile_edit {
  color: white;
  display: flex;
  width: fit-content;
  align-self: center;
  background-color: white;
}

.my_profile_edit:hover {
  transform: scale(1.1);
}

.my_profile_edit_button {
  transition: all 0.2s ease-in-out;
  color: white;
}
.my_profile_edit_button:hover {
  color: #66fcf1;
  transform: scale(1.1);
}

.my_profile_bio {
  word-wrap: break-word;
  width: 200px;
  color: green;
}

.profile_user_information {
  width: 250px;
}
